<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SequencedAggregate.AcceptanceTests" connectionString="Server=(local)\SQL2014;Initial Catalog=SequencedAggregate.Acceptance;User ID=sa;Password=Password12!" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>